<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="coolOrange Inventor ThreadModeler" Language="1033" Version="$(var.PVersion)" Manufacturer="coolOrange s.r.l" UpgradeCode="87CF466A-9CB2-464D-B971-1B6EB514A727">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet='ThreadModeler.cab' EmbedCab='yes'/>

    <Feature Id="ProductFeature" Title="ThreadModelerWixSetup" Level="1">
			<ComponentGroupRef Id="THREADMODELER_OUTPUT" />
		</Feature>
    <UIRef Id="WixUI_Minimal" />
    <UIRef Id="WixUI_ErrorProgressText" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder"
                 Name="ProgramData">
        <Directory Id='AutoDesk'
                   Name='Autodesk'>
          <Directory Id='AppPlugins' Name='ApplicationPlugins'>
            <Directory Id="INSTALLFOLDER" Name="cODTthreadModeler.bundle" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
</Wix>